.threads-container {
  background-color: #E4E4E4;
  border-radius: 2px;
  padding: 0 1px 1px 1px;
}

.threads-header {
  background-color: #43A6DF;
  padding: 10px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
