.container {
  margin-bottom: 20px;
  background-color: #E4E4E4;
  border-radius: 5px;
  padding: 0 1px 1px 1px;
}

.container-header {
  background-color: #2E749C;
  padding: 10px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
