.thread-label-container {
  background-color: #FFFFFF;
  color: #2E3539;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.thread-label-container-info a {
  color: #2E3539;
}

.thread-label-container-info {
  width: 85%;
  margin-left: 10px;
  color: #969696;
  display: flex;
  flex-direction: column;
}

.thread-label-container .info {
  margin-right: 10px;
  font-size: 0.8em
}

.user-container-info {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  align-self: center;
}

.info-date {
  color: #969696;
}
