.container {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  background-color: #F2F2F2;
  color: #2E3539;
  border-radius: 5px;
  border: 1px solid #E4E4E4;
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.user-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-info a {
  color: #2E749C;
  text-decoration: none;
  margin-bottom: 5px;
}

.user-info img {
  width: 70px;
  margin-bottom: 5px;
}

.post {
  padding: 10px;
  background-color: #FFFFFF;
  font-size: 0.85em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-text {
  margin-bottom: 10px;
}

.post-date {
  color: #969696;
  font-size: 0.8em;
}

.post-text img {
  max-width: 100%;
  height: auto;
}

.post-text blockquote {
  background: #F2F2F2;
  display: inline-block;
  padding: 13px;
  border: 1px solid #969696;
  border-radius: 2px;
}

.post-text blockquote .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-text blockquote .author {
  align-self: flex-end;
  padding: 5px 5px 0 5px;
}


.post-text code {
  display: inline-block;
  padding: 8px;
  border: 1px solid #969696;
  border-radius: 2px;
}
